<h1>Method One</h1>
<h3>Different styles of petting a cat</h3>
<ul>
  <li *ngFor="let catMethod of catMethods">
    <!-- If you're doing it this way then probably use a button instead of an a element -->
    <!-- The empty [routerLink] makes the link style correctly -->
    <a [routerLink]="" (click)="setCurrentMethod(catMethod)">{{catMethod.name}}</a>
  </li>
</ul>
<form #myForm>
  <label for="name">Name:</label>
  <input name="name" [(ngModel)]="currentMethod.name"/>
  <label for="description">Description:</label>
  <input name="description" [(ngModel)]="currentMethod.description"/>
  <label for="result">End Result</label>
  <input name="result" [(ngModel)]="currentMethod.endResult"/>
</form>
<button (click)="save()" [disabled]="currentMethod.id &lt; 0">Save Changes</button>
